<div class="invitation">
  <div class="invitation-inner">

    <div class="border top-border">
      <img src="top-border.png" alt="">
    </div>

    <div class="top-centered-text updock-font dark-green">
      Ne căsătorim!
      <br />
      04 Iulie 2026
    </div>

    <div class="flex-with-gap">
      <div class="left-name-container">
        <div class="updock-font dark-green name">Mirabela</div>
        <div class="carattere-font">
          După ce-am făcut scandal, <br />
          M-a cerut într-un final!
        </div>
      </div>

      <img class="small-img" src="verighete-crop.png" alt="verighete" />

      <div class="right-name-container">
        <div class="updock-font dark-green name">Sorin</div>
        <div class="carattere-font">
          De gura ei n-am scăpat, <br />
          Și-am cerut-o ce să fac?!
        </div>
      </div>
    </div>

    <div class="flex-with-gap">
      <img class="small-img" src="sampanie-crop.png" alt="șampanie" />
      <div class="flex-with-column">
        <span class="carattere-font">
          Nașii oameni speciali, <br />
          Vor fi părinți spirituali!
        </span>
        <span class="updock-font dark-green">Laura & Mihai</span>
      </div>
      <img class="small-img" src="arcada-crop.png" alt="arcadă" />
    </div>

    <div class="flex-with-gap">
      <div class="flex-with-column">
        <span class="carattere-font">
          Iar părinții cei iubiți, <br />
          Vor fi tare fericiți!
        </span>
        <span class="updock-font dark-green">Vasilica & Neculai</span>
        <span class="updock-font dark-green">Veronica & Costel</span>
      </div>

      <img class="small-img" src="dansator-crop.png" alt="dansator" />

      <div class="flex-with-column">
        <span class="updock-font dark-green">
          Biserica "Sf. Ioan Botezătorul" <br />
          ora 17:00
        </span>
        <span class="updock-font dark-green">
          Restaurant "La Nașu" <br />
          ora 20:00
        </span>
      </div>
    </div>

    <span class="carattere-font stanza">
      Să nu va simțiți obligați... Nici să veniți, nici să dansați! <br />
      Vrem să veniți din plăcere... Nu să ne dați o avere! <br />
      Vrem să vă distrați cu noi... S-avem amintiri cu voi.
    </span>

    <span class="fleur-de-leah-font confirm">
      Vă rugăm să ne confirmați prezența până la data 15.06.2026
    </span>

    <div class="flex-with-gap">
      <span class="fleur-de-leah-font">
        <span class="bold">Mirabela:</span> <br />
        0785 439 889
      </span>

      <div class="flex-with-column">
        <span class="fleur-de-leah-font">la telefon:</span>
        <img class="small-img" src="miri-crop.png" alt="miri" />
      </div>

      <span class="fleur-de-leah-font">
        <span class="bold">Sorin:</span> <br />
        0786 181 532
      </span>
    </div>

    <div class="border bottom-border">
      <img src="bottom-border.png" alt="">
    </div>

  </div>
</div>
